@import url("https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&display=swap");

$green: #27ae60;
$darkColor: #219150;
$black: #444;
$white: #fff;
$lightColor: #666;
$rgbaColor: rgba(0,0,0,.1);
$border: .1rem solid $rgbaColor;
$borderHover: .1rem solid $black;
$boxShadow: 0 .1rem .5rem $rgbaColor;
$fontFamily: "Poppins", sans-serif;

* {
  font-family: $fontFamily;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  transition: width none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;

    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $black;
        border-radius: .5rem;
    }
}

.container {
    padding: 1.5rem 9%;
}

.navbar-link {
    color: $white;
    display: inline-block;
    padding: 1.2rem 2rem;
    font-size: 1.7rem;

    &:hover {
        background-color: $darkColor;
    }
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.9rem 3rem;
    border-radius: .5rem;
    color: $white;
    font-size: 1.7rem;
    font-weight: 500;
    background-color: $green;
    cursor: pointer;
    text-transform: uppercase;

    &:hover {
        background-color: $darkColor;
    }
}

// Media quries

@media (max-width: 1023.99px) {
    html {
        font-size: 60%;
    }
    .container {
        padding: 1.5rem 2%;
    }
}

@media (max-width: 767.99px) {
    html {
        scroll-padding-top: 0;
        font-size: 55%;
    }

    body {
        padding-bottom: 6rem;
    }

    .container {
        padding: 1rem;
    }
}

@media (max-width: 449.99px) {
    html {
        font-size: 50%;
    }
}