.header {

    .header-top {
        background-color: $white;
        display: grid;
        grid-template-columns: auto 50rem auto;
        grid-gap: 1.5rem;
        place-items: center stretch;

        .logo {
            font-size: 2.5rem;
            font-weight: bolder;
            color: $black;

            i {
                color: $green;
            }
        }

        .search-form {
            width: 100%;
            border: $border;
            overflow: hidden;
            background-color: $white;
            display: flex;
            align-items: center;
            border-radius: .5rem;

            .search-box {
                width: 100%;
                height: 100%;
                font-size: 1.6rem;
                padding: 1.8rem 1.2rem;
                text-transform: none;
                color: $black;
            }

            .label-search-box {
                font-size: 2.5rem;
                padding-right: 1.5rem;
                color: $black;
                cursor: pointer;

                &:hover {
                    color: $green;
                }
            }
        }

        .icons {
            text-align: end;

            .icons-box,
            .icons-link {
                margin-left: 1.5rem;
                font-size: 2.5rem;
                color: $black;
                cursor: pointer;

                &:hover {
                    color: $green;
                }
            }

            .search-btn {
                display: none;
                margin-left: 0;
            }
        }
    }

    .header-bottom {
        background-color: $green;
        padding: 0;
        
        &.active {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1000;
        }

        .navbar {
            text-align: center;

            .navbar-link {
                color: $white;
                display: inline-block;
                padding: 1.2rem 2rem;
                font-size: 1.7rem;

                &:hover {
                    background-color: $darkColor;
                }
            }
        }
    }
}