.header {

    .header-top {
        background-color: $white;
        padding: 1.5rem 9%;
        // display: flex;
        // align-items: center;
        // justify-content: space-between;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.5rem;
        place-items: center stretch;

        .logo {
            font-size: 2.5rem;
            font-weight: bolder;
            color: $black;

            i {
                color: $green;
            }
        }

        .search-form {
            width: 100%;
            border: $border;
            overflow: hidden;
            background-color: $white;
            display: flex;
            align-items: center;
            border-radius: .5rem;

            .search-box {
                width: 100%;
                height: 100%;
                font-size: 1.6rem;
                padding: 1.8rem 1.2rem;
                text-transform: none;
                color: $black;
            }

            .label-search-box {
                font-size: 2.5rem;
                padding-right: 1.5rem;
                color: $black;
                cursor: pointer;

                &:hover {
                    color: $green;
                }
            }
        }
    }
}