.home {
    display: grid;
    place-items: center;

    .home-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
        place-items: center;

        .home-content {

            .home-text {
                color: $lightColor;
                font-size: 1.4rem;
                line-height: 2;
                padding: 1rem 0;
            }
        }

        .book-slider {
            text-align: center;
            margin-top: 2rem;
            margin-inline: auto;

            .book-wrapper {

                .book-link {
                    display: inline-block;
                    max-width: fit-content;
                    max-height: fit-content;
    
                    &:hover {
                        transform: scale(.9);
                    }
                }
            }

            .book-stand {
                margin-top: -2rem;
            }
        }
    }
}


// MEDIA QUERIES

@media (max-width: 1023.99px) {}

@media (max-width: 767.99px) {
    .home {
        height: 100%;

        .home-row {
            grid-template-columns: repeat(1, 1fr);

            .home-content {
                text-align: center;
            }
        }
    }
}

@media (max-width: 424.99px) {}