.home {
    background-image: url(../image/banner-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-inline: auto;
    height: 81vh;
    display: grid;
    place-items: center;

    .row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
        place-items: center;

        .content {
            max-width: auto;

            .home-title {
                color: $black;
                font-size: 4.5rem;
            }

            .home-text {
                color: $lightColor;
                font-size: 1.4rem;
                line-height: 2;
                padding: 1rem 0;
            }
        }

        .book-slider {
            max-width: auto;
            text-align: center;
            margin-top: 2rem;
            margin-inline: auto;

            .wrapper {

                .book-link {
                    display: inline-block;
                    max-width: fit-content;
                    max-height: fit-content;
    
                    &:hover {
                        transform: scale(.9);
                    }
                }
            }

            .book-stand {
                margin-top: -2rem;
            }
        }
    }
}


// MEDIA QUERIES

@media (max-width: 1023.99px) {}

@media (max-width: 767.99px) {
    .home {
        .row {
            grid-template-columns: repeat(1, 1fr);

            .content {
                text-align: center;

                .home-title {
                    font-size: 3rem;
                }
            }
        }
    }
}

@media (max-width: 424.99px) {}