.reviews {
    
    .reviews-slider {

        .reviews-wrapper {

            .reviews-slider-box {
                margin: 2rem 0;
                padding: 2rem;
                text-align: center;
                user-select: none;
                border: $border;
                border-radius: .5rem;
                box-shadow: $boxShadow;
                overflow: hidden;

                &:hover {
                    border: $borderHover;
                }

                .reviews-slider-box-image {
                    width: 15rem;
                    height: 15rem;
                    border-radius: 50%;
                    overflow: hidden;
                }

                .reviews-slider-box-title {
                    font-size: 2.2rem;
                    color: $black;
                    padding: .5rem 0;
                }

                .reviews-slider-box-text {
                    font-size: 1.4rem;
                    color: $lightColor;
                    padding: 1rem 0;
                    line-height: 2;
                }
            }
        }
    }
}

// MEDIA QURIES
@media (max-width: 1023.99px) {}
@media (max-width: 767.99px) {}
@media (max-width: 424.99px) {}